# Gradle
.gradle
**/build/
!src/**/build/
gradle-app.setting
!gradle-wrapper.jar
!gradle-wrapper.properties
.gradletasknamecache

# Eclipse
.project
.classpath
.settings/
bin/
tmp/
.metadata
.apt_generated
.factorypath
.springBeans
.sts4-cache

# IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr
out/

# VS Code
.vscode/
*.code-workspace

# Mac OS
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db

# Spring Boot
HELP.md
.env
target/

# Logs
logs/
*.log

# YAML Config
application-*.yml
!application.yml
