<link rel="stylesheet" type="text/css" href="../css/main.css">
<footer class="footer">
    <div class="footer-content">
        <div class="footer-section">
            <h4>Platform</h4>
            <ul>
                <li><a href="#">Get Started</a></li>
                <li><a href="#">Features</a></li>
                <li><a href="https://developer.spotify.com/documentation/web-api">Documentation</a></li>
            </ul>
        </div>
        <div class="footer-section">
            <h4>Company</h4>
            <ul>
                <li><a href="#">About</a></li>
                <li><a href="#">Blog</a></li>
                <li><a href="#">Careers</a></li>
            </ul>
        </div>
        <div class="footer-section">
            <h4>Resources</h4>
            <ul>
                <li><a href="#">Help Center</a></li>
                <li><a href="#">Community</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </div>
    </div>
    <div class="footer-bottom">
        <p>&copy; 2024 Quick Beat. All rights reserved.</p>
    </div>
</footer>