<link rel="stylesheet" type="text/css" href="../css/main.css">
<nav class="navbar">
  <div class="nav-content">
    <div class="nav-logo">
      <a href="index.html">
        <i class="fa-brands fa-spotify"></i>
        <i class="fa-solid fa-gamepad"></i>
        Quick Beat
      </a>
    </div>
    <div class="nav-links">
      <a href="index.html">Home</a>
      <a href="https://developer.spotify.com/documentation/web-api">Documentation</a>
      <a href="https://open.spotify.com/">Songs</a>
      <a href="shuffle.html">Game</a>
    </div>
    <div class="nav-auth">
      <a href="shuffle.html" class="btn btn-primary">Try Free</a>
    </div>
  </div>
</nav>